{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="  col-md-8 offset-md-2 ">
    <a role="button" class="btn btn-primary btn-lg btn-block" href="/configuracion/sensores"> Sensores</a>
  </div>
</div>
<br />
<div class="row">
  <div class="  col-md-8 offset-md-2">
    <a role="button" class="btn btn-primary btn-lg btn-block" href="/configuracion/alertas">Alertas</a>
  </div>
</div>




{% endblock %}
