{% extends "base.html" %}
<label for="disabledTextInput">Disabled input</label>
<input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
{% block content %}

<row>
  <div class="col-md-8 offset-md-2">
    <div class="col-md-12">
      <h1>Editar alerta</h1>
      <br>
          <form name="insertItem" method="POST">
            <fieldset disabled>
              <div class="row control-group">
                <div class="form-group col-md-8">
                  <label for="disabledSelect">
                    Sensor
                  </label>
                  <select class="form-control" id="sensor_id" name="sensor_id" placeholder="{{alerta[4]}}">
                    <option>
                      {{alerta[4]}}
                    </option>
                  </select>
                </div>
              </div>
            </fieldset>
            <div class="row control-group">
              <div class="form-group col-md-8">
                <label>
                  Valor mínimo
                </label>
                <select class="form-control" id="valor_minimo" name="valor_minimo">
                  {% for i in range(0,51) %}
                  <option value="{{i}}">
                    {{i}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-md-8">
                <label>
                  Valor máximo
                </label>
                <select class="form-control" id="valor_maximo" name="valor_maximo">
                  {% for i in range(0,51) %}
                  <option value="{{i}}">
                    {{i}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Añadir</button>
          </form>
    </div>


    <br />
  </div>
</row>


{% endblock %}
