{% extends "base.html" %}

{% block content %}

  <div class="row">
    <center>
      <h1>Lista de alertas</h1>
    </center>

    <a href="/configuracion/alertas/new" class="btn btn-info btn-lg" role="button"><i class="glyphicon glyphicon-plus"></i> Nueva alerta</a>
  </div>
  <br>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <th>Sensor </th>
        <th>Valor mínimo</th>
        <th>Valor máximo</th>
      </thead>
      <tbody>
        {% for alerta in alertas %}
        <tr onclick="location.href='/configuracion/alertas/{{alerta[0]}}'">
          <td>{{alerta[4]}}</td>
          <td>{{alerta[3]}}</td>
          <td>{{alerta[2]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
