{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="col-md-12">
      <center>
        <h1> Alertas </h1>
      </center>
    </div>

    <br>

        <form name="insertItem" method="POST">
          <div class="row control-group">
            <div class="form-group col-md-12">
              <label>
                Sensor
              </label>
              <select class="form-control" id="sensor_id" name="sensor_id">
                {% for sensor in sensores %}
                <option value="{{sensor[0]}}">
                  {{sensor[1]}}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-md-12">
              <label>
                Valor mínimo
              </label>
              <select class="form-control col-md-12" id="valor_minimo" name="valor_minimo">
                {% for i in range(0,51) %}
                <option value="{{i}}">
                  {{i}}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-md-12">
              <label>
                Valor máximo
              </label>
              <select class="form-control" id="valor_maximo" name="valor_maximo">
                {% for i in range(0,51) %}
                <option value="{{i}}">
                  {{i}}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Añadir</button>
        </form>

    <br />
    </div>
  </div>



{% endblock %}
