{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-8 offset-md-2">
      <h1>Añadir Sensor</h1>
    <br>

        <form name="insertItem" method="POST">
          <div class="row control-group">
            <div class="form-group col-md-12">
              <label>
                Sensor
              </label>
              <select class="form-control" id="nombre" name="nombre">
                <option value="Temperatura">
                  Temperatura
                </option>
                <option value="Humedad">
                  Humedad
                </option>
                <option value="Suelo">
                  Suelo
                </option>
                <option value="Pluviómetro">
                  Pluviómetro
                </option>
              </select>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-md-12">
              <label>
                Comentario
              </label>
              <textarea class="form-control" rows="3" id="descripcion" name="descripcion" placeholder="Control de temperatura"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Añadir</button>
        </form>

    <br />
  </div>
</div>




{% endblock %}
