{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class=" col-md-2" >
  </div>
  <div class= "col-md-8">
    <form role="form" method="POST">

        <fieldset class="form-group">
            <label>Sensor</label>
            <select id=""class="form-control">
                <option>Temperatura</option>
                <option>Humedad</option>
                <option>Suelo</option>
                <option>Pluviómetro</option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label>Descripción</label>
            <textarea class="form-control" placeholder="Sensor que mide la temperatura del ambiente" row=3></textarea>
        </fieldset>


        <button type="submit" class="btn btn-primary" action="/agregar_sensor">Añadir sensor</button>

    </form>
  </div>

</div>



{% endblock %}
