<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de medición metereológica para cultivos de pequeña y gran escala utilizando Arduino">
    <meta name="author" content="John Bidwell">
    <META http-equiv="refresh" content="60">
    <title>Estación climatológica</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/stylesheets/sb-admin.css" rel="stylesheet">
    <link href="/static/stylesheets/app.css" rel="stylesheet">
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

</head>

<body id="page-top">
  {% include "header.html" %}
  <div class="content-wrapper-2 py-3">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% include "footer.html" %}
</body>

</html>
