
    <!-- Navigation -->
    <nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Estación climatológica</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="ml-auto navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i> <span class="hidden-lg-up">Alerts <span class="badge badge-pill badge-warning">6 New</span></span>
                        <span class="new-indicator text-warning hidden-md-down"><i class="fa fa-fw fa-circle"></i><span class="number">{{alertas_navbar|length}}</span></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                      {% for alerta in alertas_navbar %}
                        <a class="dropdown-item" href="/sensores/{{alerta[4]}}">{{alerta[3]}} {{alerta[1]}} </a>
                      {% endfor %}

                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="dropdown" href="sensores" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-area-chart"></i> Sensores</a>
                    <ul class="dropdown-menu collapse" id="collapseComponents">
                        {% for sensor in sensores_navbar %}
                        <li>
                            <a class="dropdown-item" href="/sensores/{{sensor[0]}}">{{sensor[1]}}</a>
                        </li>
                        {% endfor %}


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configuracion"><i class="fa fa-fw fa-wrench"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-fw fa-table"></i> Estadísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-fw fa-info"></i> About</a>
                </li>
            </ul>
        </div>
    </nav>
