{% extends "base.html" %}
{% block content %}


<!-- Icon Cards -->
<div class="row">
    {% for grafico in graficar %}
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-success o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-thermometer"></i>
                </div>
                <div class="mr-5">
                    {{ grafico[1]}}<br>
                    <big>{{grafico[3][-1]}}{{grafico[2]}}</big>
                    {% if grafico[1]=="Suelo" %}
                      {% if grafico[3][-1] <= 2 %}
                      Suelo ultra seco
                      {% elif grafico[3][-1] >= 3 and grafico[3][-1] <= 5%}
                      Suelo seco
                      {% elif grafico[3][-1] >= 6 and grafico[3][-1] <= 8%}
                      Suelo humedo
                      {% else %}
                      Completamente mojado
                      {% endif %}
                    {% endif %}
                </div>
            </div>
            <a href="/sensores/{{grafico[0]}}" class="card-footer clearfix small z-1">
                <span class="float-left">Detalles</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Area Chart -->
<div class="card mb-3">
  <div class="row">
    {% for grafico in graficar %}
    <div class="col-md-6">
      <div class="card-header">
          <i class="fa fa-area-chart"></i> {{ grafico[1] }} últimas 24 horas
      </div>
      <div class="card-block">
          <div class="row">
              <div class="col-md-12">
                  <canvas id="{{grafico[0]}}" width="300" height="250"></canvas>
                  <script>
                    // Global parameters:
                    // do not resize the chart canvas when its container does (keep at 600x400px)
                    Chart.defaults.global.responsive = false;

                    // define the chart data
                    var chartData = {
                      labels : [{% for etiqueta in grafico[4] %}
                                 "{{etiqueta}}",
                                {% endfor %}],
                      datasets : [{
                          label: "{{grafico[1]}}",
                          fill: true,
                          lineTension: 0.1,
                          backgroundColor: "rgba(75,192,192,0.4)",
                          borderColor: "rgba(75,192,192,1)",
                          borderCapStyle: 'butt',
                          borderDash: [],
                          borderDashOffset: 0.0,
                          borderJoinStyle: 'miter',
                          pointBorderColor: "rgba(75,192,192,1)",
                          pointBackgroundColor: "#fff",
                          pointBorderWidth: 1,
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(75,192,192,1)",
                          pointHoverBorderColor: "rgba(220,220,220,1)",
                          pointHoverBorderWidth: 2,
                          pointRadius: 1,
                          pointHitRadius: 10,
                          data : [{% for valor in grafico[3] %}
                                    {{valor}},
                                  {% endfor %}],
                          spanGaps: false
                      }]
                    }

                    // get chart canvas
                    var holder = document.getElementById("{{grafico[0]}}");
                    var ctx = document.getElementById("{{grafico[0]}}").getContext("2d");

                    // create the chart using the chart canvas
                    var myChart = new Chart(ctx, {
                      type: 'line',
                      data: chartData,
                      options: {
                        responsive: true,

                        tooltips: {
                          enabled: true,
                          mode: 'single',
                          callbacks: {
                            label: function(tooltipItems, data) {
                                     return tooltipItems.yLabel + ' {{grafico[2]}}';
                                   }
                          }
                        },
                      }
                    });

                    // get the text element below the chart
                    var pointSelected = document.getElementById("pointSelected");

                    // create a callback function for updating the selected index on the chart
                    holder.onclick = function(evt){
                      var activePoint = myChart.getElementAtEvent(evt);
                      console.log(activePoint);
                      console.log('x:' + activePoint[0]._view.x);
                      console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
                      console.log('y: ' + activePoint[0]._view.y);
                      console.log('index: ' + activePoint[0]._index);
                      pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
                    };
                  </script>
              </div>
          </div>

      </div>
    </div>
    {% endfor %}
  </div>

  <div class="card-footer small text-muted">
      Información actualizada cada 1 minuto
  </div>
</div>




{% endblock %}
