{% extends "base.html" %}

{% block content %}

<div class="content-wrapper-2 py-3">
  <div class="container">
    <div class="row">
      {% for sensor in sensores %}
      <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card card-inverse card-primary o-hidden h-100">
              <div class="card-block">
                  <div class="card-block-icon">
                    {%- if sensor[1]=="Temperatura" %}<i class="fa fa-fw fa-thermometer"></i>{% endif %}
                  </div>
                  <div class="mr-5">
                      {{sensor[1]}}
                  </div>
              </div>
              <a href="/sensores/{{sensor[0]}}" class="card-footer clearfix small z-1">
                  <span class="float-left">Detalles</span>
                  <span class="float-right"><i class="fa fa-angle-right"></i></span>
              </a>
          </div>
      </div>
      {% endfor %}

        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </thead>
          <tbody>
            {% for sensor in sensores %}
            <a href="#"><tr>
              <td>{{sensor[0]}}</td>
              <td>{{sensor[1]}}</td>
              <td>{{sensor[2].decode('utf-8')}}</td>
            </tr></a>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>


{% endblock %}
