{% extends "base.html" %}

{% block content %}

{% if alertas|length>0%}
  {% for alerta in alertas %}
  <form method="POST" class="form-inline">
    <p class="alert alert-danger">
      ¡ALERTA! Última medición está por sobre los límites establecidos, favor de revisar las condiciones del cultivo <small>{{alerta[0]}}{{unidad}} a las {{alerta[1].strftime("%H:%M %d/%m")}}</small>

        <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-check"></i></button>
      </form>
    </p>
  {% endfor %}

{% endif %}


    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-success o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-thermometer"></i>
                    </div>
                    <div class="mr-5">
                        {{ sensor[1] }}<br>
                        <big>{{ ultima_medicion }}{{ unidad }}</big>
                        {% if sensor[1]=="Suelo" %}
                          {% if ultima_medicion <= 2 %}
                          Suelo ultra seco
                          {% elif ultima_medicion >= 3 and ultima_medicion <= 5%}
                          Suelo seco
                          {% elif ultima_medicion >= 6 and ultima_medicion <= 8%}
                          Suelo humedo
                          {% else %}
                          Completamente mojado
                          {% endif %}
                        {% endif %}
                    </div>
                </div>
                <a  class="card-footer clearfix small z-1">
                    <span class="float-left">{{ sensor[2] }}</span>
                </a>
            </div>
        </div>
    </div>





    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
              <div class="col-md-10">
                <i class="fa fa-table"></i> Mediciones
              </div>
              <div class="col-md-2">
                <div class="input-group inline-form">
                  <div class="input-group-btn ">
                    <button type="button" class="btn btn-primary btn-sm " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar<span class="caret"></span></button>
                    <ul class="dropdown-menu collapse" id="collapseComponents">
                      <li><a class="dropdown-item" href="/sensores/{{sensor[0]}}/?query=24">1 día</a></li>
                      <li><a class="dropdown-item" href="/sensores/{{sensor[0]}}/?query=168">1 semana</a></li>
                      <li><a class="dropdown-item" href="/sensores/{{sensor[0]}}/?query=336">2 semanas</a></li>
                      <li><a class="dropdown-item" href="/sensores/{{sensor[0]}}/?query=672">1 mes</a></li>
                      <li><a class="dropdown-item" href="/sensores/{{sensor[0]}}/?query=2016">3 meses</a></li>
                      <li><a class="dropdown-item" href="/sensores/{{sensor[0]}}/?query=4032">6 meses</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </div>

            </div>

        </div>

        <div class="card-block">
          <div class="row">
            <!-- bar chart canvas element -->
            <div class="col-md-10 chart">
              <canvas id="myChart" width="900" height="400"></canvas>
            </div>




            <div class="col-md-2">
              <br>
              <br>
              <br>
              <br>
              <div class="col-sm-4 text-center">
                <hr class="hidden-sm-up">
                <div class="h4 mb-0 text-primary">{{ cotas[2] }}{{ unidad }}</div>
                <div class="small text-muted">Promedio</div>
                <hr>
                <div class="h4 mb-0 text-warning">{{ cotas[0] }}{{ unidad }}</div>
                <div class="small text-muted">Mínima</div>
                <hr>
                <div class="h4 mb-0 text-success">{{ cotas[1] }}{{ unidad }}</div>
                <div class="small text-muted">Máxima</div>
                <hr>
              </div>
            </div>
          </div>


          <br>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                  <thead>
                    <th>ID</th>
                    <th>Valor</th>
                    <th>Hora</th>
                  </thead>
                    <tbody>
                      {% for medicion in mediciones %}
                      <tr>
                        <td>{{medicion[0]}}</td>
                        <td>{{medicion[1]}}</td>
                        <td>{{medicion[3].strftime("%Y/%m/%d %H:%M")}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">
            {% if hora_ultima_medicion != None %} Actualizado a las {{ hora_ultima_medicion.strftime("%H:%M %d/%m/%Y") }}{% else %} No hay mediciones {% endif %}
        </div>
    </div>


<script>
  // Global parameters:
  // do not resize the chart canvas when its container does (keep at 600x400px)
  Chart.defaults.global.responsive = false;

  // define the chart data
  var chartData = {
    labels : [{% for item in labels %}
               "{{item}}",
              {% endfor %}],
    datasets : [{
        label: '{{ legend }}',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    }]
  }

  // get chart canvas
  var holder = document.getElementById("myChart");
  var ctx = document.getElementById("myChart").getContext("2d");


  // create the chart using the chart canvas
  var myChart = new Chart(ctx, {
    type: 'line',
    data: chartData,
    options: {
      responsive: true,
      scales: {
         yAxes: [{
                  display: true,
                  stacked: true,
                  ticks: {
                      min: -5,// minimum value
                      max: 55,// maximum value
                      stepSize: 5,
                  }
         }]
      },
      title: {
        display: true,
        text: '{{sensor[1]}} últimas nn horas'
      },
      tooltips: {
        enabled: true,
        mode: 'single',
        callbacks: {
          label: function(tooltipItems, data) {
                   return tooltipItems.yLabel + ' {{unidad}}';
                 }
        }
      },
    }
  });

  // get the text element below the chart
  var pointSelected = document.getElementById("pointSelected");



  // create a callback function for updating the selected index on the chart
  holder.onclick = function(evt){
    var activePoint = myChart.getElementAtEvent(evt);
    console.log(activePoint);
    console.log('x:' + activePoint[0]._view.x);
    console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
    console.log('y: ' + activePoint[0]._view.y);
    console.log('index: ' + activePoint[0]._index);
    pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
  };
</script>


{% endblock %}
